@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;

  --dark-bkg: #212321;
  --light-text-color: white;
  --margin: 2rem;
}

.App {
  text-align: center;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: rgb(30,30,30);
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
  text-decoration-color: #6c8b60;
  text-decoration-thickness: 3px;
}

.btn {
  padding: .7rem 1.2rem;
  font-size: .9em;
  text-transform: inherit;
  background: none;
  cursor: pointer;

  box-shadow: inset 0 0 0 0 black;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.btn:hover {
  color: white;
  background-color: black;
  box-shadow: inset 0 0 0 50px black;
}

img.image {
  background-color: aqua;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-container {
  /* subtract right side per .shop-item right margin */
  margin: 14rem 3rem 5rem 3rem;
}

/* ****** *** ****** */
/* ****** NAV ****** */

.nav {
  background: none;
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 3rem;

  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 7em;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.nav-links {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;

  align-items: center;
  padding: 1rem 0 0 0;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

ul.nav-links a {
  position: relative;
}

.shop-link {
  margin: 0 auto;
}

.cart-icon {
  width: 50px;
  height: 50px;
  color: black;
}

.cart-qty {
  position: absolute;
  z-index: 6;
  top: 33%;
  right: 35%;
}


/* ****** *** ****** */
/* *** HOME PAGE *** */

.home {
  width: 100%;
  height: 100vh;
  background: goldenrod;
  
}

.white-cover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 20%;
  background: linear-gradient(180deg, #d8eaf5, transparent);
}

.item-link-shop {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
}

.btn.enter {
  background: #ccdeee;
  color: #1e1e1e;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 3rem;
  border: none;
  outline: 10px solid #ccdeee;
  outline-offset: 10px;
  letter-spacing: 5px;
  box-shadow: inset 0 0 0 0 #79969a;
}

.btn.enter:hover {
color: white;
background-color: #79969a;
box-shadow: inset 0 0 0 50px #79969a;
outline: none;
}


/* ****** ********* ****** */
/* ****** SHOP PAGE ****** */

.page-container.shop {
  /* subtract right side per .shop-item right margin */
  margin: 12rem calc(3rem - var(--margin)) 5rem 3rem;
}

.shop {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.shop2 {
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  /* grid-template-columns: repeat(4,25%); */
  grid-template-columns: repeat(4, minmax(200px, 25%));
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 25%)); */
  grid-column-gap: 2rem;
}

.shop-item {
  height: calc((100vw / 3) - var(--margin));
  width: calc((100% / 4) - var(--margin));
  min-width: 500px;
  margin: 0 var(--margin) var(--margin) 0;
}

.shop-item:hover {
  box-sizing: border-box;
  outline: 5px solid black;
  outline-offset: 10px;
  transition: cubic-bezier(0.18, 0.89, 0.43, 0.99) 0.2s;
}

.img-container-shop{
  background: rgb(155, 47, 137);
  width: 100%;
  height:90%;
}

.shop-item-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: .7rem;

  font-size: 1.3em;
  font-weight: 500;
  text-transform: uppercase;
}

.name-price-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.shop-price {
  margin: 0;
}


/* ****** ************** ****** */
/* ****** SHOP ITEM PAGE ****** */

.page-container.item {
  /* subtract right side per .shop-item right margin */
  margin: 13rem 3rem 0 3rem;
}

.shop-item-page {
  height: 80vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.img-container-shop-item {
  background: black;
  width: 30%;
  min-width: 400px;
  height: 90%;
}

.shop-item-info.item {
  margin: 7rem 0 0 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  width: 30%;
  min-width: 300px;
  text-align: left;
}

.shop-item-name {
  font-size: 2em;
  font-weight: 600;
}

.shop-item-desc {
  font-size: 1em;
  font-weight: 400;
  margin: 2rem 0;
  text-transform: none;
}

.shop-item-price {
  font-size: 1.2em;
  font-weight: 600;
  font-style: italic;
}

.btn.add-to-cart.item {
  margin-top: 3rem;
}

.filler-1 {
  background: linear-gradient(to left, #607d8b, #7c9600);
    width: 40%;
    height: 5%;
    position: absolute;
    z-index: -2;
    top: 25%;
    left: 10%;
}

.filler-2 {
  background: linear-gradient(to right, #a5d6a7, #009688);
    width: 30%;
    height: 50%;
    position: absolute;
    z-index: -1;
    top: 45%;
    left: 15%;
}


/* ****** ********* ****** */
/* ****** CART PAGE ****** */

.page-container.cart {
  padding: 0 10%;
  min-width: 600px;
  margin-bottom: 12rem;
} 

div.cart h1 {
  font-size: 2em;
  letter-spacing: 2px;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
  font-size: 1.5em;
  margin-top: 1rem;
}

/* ****** EMPTY CART ****** */
.empty-cart {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 5rem 0 0 0;
}

.btn.empty {
  margin-top: 2rem;
  font-size: .5em;

  color: white;
  background: black;
  box-shadow: inset 0 0 0 0 white
}

.btn.empty:hover {
  color: black;
  background-color: white;
  box-shadow: inset 0 0 0 50px white;
}


/* ****** NORMAL CART ****** */
.cart-item {
  height: 180px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid black;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.5em;
}

img.image.cart {
  
}

.img-container-cart{
  background: rgb(215, 231, 67);
  width: 150px;
  height: 100%;
}

.item-link.cart {
  
  font-weight: 600;
  width: 20%;
  text-align: left;
}

.quantity-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  outline: 2px solid black;
  outline-offset: -2px;
}

.quantity {
  padding: .5rem 1.5rem;
  font-weight: 600;
}

.btn.qty {
  font-weight: 600;
}

.sub-total {
  font-weight: 600;
}

.sub-price {
  margin-top: 1rem;
  font-size: .8em;
}

.btn.remove {
  box-shadow: inset 0 0 0 0 #bf1818;
}

.btn.remove:hover {
  color: white;
  background-color: #bf1818;
  box-shadow: inset 0 0 0 50px #bf1818;
}

.cart-total {
  height: 9rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 5px solid black;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

  font-size: 1.5em;
  text-transform: uppercase;
  background: linear-gradient( 0deg, white, rgb(255 255 255 / 70%));
}

.back-link {
  width: 300px;
}

div.cart-total h2 {
  font-size: 2em;
  word-spacing: .5em;
  width: 330px;
}

.checkout-link {
  width: 300px;
}

.btn.checkout {
  background-color: black;
  color: white;
  font-weight: 600;
  box-shadow: inset 0 0 0 0 #6c8b60;
}

.btn.checkout:hover {
  color: white;
  background-color: #6c8b60;
  box-shadow: inset 0 0 0 50px #6c8b60;
}


/* ****** ********* ****** */
/* ****** CHECKOUT PAGE ****** */

.checkout {
  margin-top: 15%;
}