@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');



body {
  background-color: white;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  margin: 0;

  --dark-bkg: #212321;
  --light-text-color: white;
  --margin: 2rem;
  
}

.App {
  text-align: center;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: rgb(30,30,30);
  text-decoration: none;
}

a:hover {
  text-decoration: line-through;
}

.btn {
  /* padding: .5rem 1rem;
  font-size: .8em; */
  padding: .7rem 1.2rem;
  font-size: .9em;
  text-transform: inherit;
  background: none;
  cursor: pointer;

  box-shadow: inset 0 0 0 0 black;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.btn:hover {
  color: white;
  background-color: black;
  box-shadow: inset 0 0 0 50px black;
}
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
  }
  .slide_inside:hover {
    box-shadow: inset 0 0 0 50px #D80286;
  }
  .slide_diagonal:hover {
    box-shadow: inset 400px 50px 0 0 #D80286;
  }






img.image {
  background-color: aqua;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-container {
  /* subtract right side per .shop-item right margin */
  margin: 12rem 3rem 5rem 3rem;
}

/* ****** *** ****** */
/* ****** NAV ****** */
.nav {
  background-color: rgb(33 35 33 / 5%);
  color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 3rem;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 7em;
  /* font-style: italic; */
  text-transform: uppercase;
  letter-spacing: 0px;
}

.nav-links {
  width: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;

  align-items: center;
  padding: 1rem 0 0 0;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

.shop-link {
  margin: 0 auto;
}



/* ****** *** ****** */
/* *** HOME PAGE *** */
.home {
  width: 100%;
  height: 100vh;
  background: goldenrod;
}

/* ****** ********* ****** */
/* ****** SHOP PAGE ****** */



.page-container.shop {
  /* subtract right side per .shop-item right margin */
  margin: 12rem calc(3rem - var(--margin)) 5rem 3rem;
}

.shop {
  /* height: 100vh; */
  /* background: honeydew; */
  display: flex;
  flex-flow: row wrap;

  justify-content: center;
}

.shop2 {
  height: 100vh;
  background: honeydew;
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  /* grid-template-columns: repeat(4,25%); */
  grid-template-columns: repeat(4, minmax(200px, 25%));
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 25%)); */
  grid-column-gap: 2rem;
}

.shop-item {
  /* height: calc((100% / 2) - 1rem); */
  height: calc((100vw / 3) - var(--margin));
  width: calc((100% / 4) - var(--margin));
  min-width: 500px;
  /* background: pink; */
  margin: 0 var(--margin) var(--margin) 0;
}

.shop-item:hover {
  box-sizing: border-box;
  outline: 5px solid black;
  outline-offset: 10px;
  
  /* transition: ease 0.2s; */
  transition: cubic-bezier(0.18, 0.89, 0.43, 0.99) 0.2s;
}

img.image.shop:hover {

}

.img-container-shop{
  background: rgb(155, 47, 137);
  width: 100%;
  height:90%;
}

.shop-item-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: .7rem;

  font-size: 1.3em;
  font-weight: 500;
  text-transform: uppercase;
}

.name-price-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.shop-price {
  margin: 0;
}


/* ****** ************** ****** */
/* ****** SHOP ITEM PAGE ****** */
.page-container.item {
  /* subtract right side per .shop-item right margin */
  margin: 13rem 3rem 0 3rem;
}

.shop-item-page {
  height: 80vh;
  /* background: linear-gradient(to right, #a5d6a7, #009688); */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

img.image.item {

}

.img-container-shop-item {
  background: black;
  /* width: 700px; */
  width: 30%;
  min-width: 400px;
  height: 90%;
}

.shop-item-info.item {
  margin: 7rem 0 0 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-self: flex-start;
  width: 30%;
  min-width: 300px;
  text-align: left;
}

.shop-item-name {
  font-size: 2em;
  font-weight: 600;
}

.shop-item-desc {
  font-size: 1em;
  font-weight: 400;
  margin: 2rem 0;
}

.shop-item-price {
  font-size: 1.2em;
  font-weight: 600;
  font-style: italic;
}

.btn.add-to-cart.item {
  margin-top: 3rem;
}

.filler-1 {
  background: linear-gradient(to left, #d2a5d6, #7c9600);
    width: 50%;
    height: 10%;
    position: absolute;
    z-index: -2;
    top: 20%;
    left: 10%;
}

.filler-2 {
  background: linear-gradient(to right, #a5d6a7, #009688);
    width: 30%;
    height: 50%;
    position: absolute;
    z-index: -1;
    top: 40%;
    left: 20%;
}



/* ****** ********* ****** */
/* ****** CART PAGE ****** */
.cart {
  /* height: 100vh; */
  background: lightblue;
}

.cart-item {
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

img.image.cart {
  
}

.img-container-cart{
  background: rgb(215, 231, 67);
  width: 100px;
  height: 100px;
}

.quantity-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.cart-total {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: antiquewhite;
}